:root { 
--white_A700_5e:#fdfdfd5e; 
--white_A700_7e:#fdfdfd7e; 
--blue_gray_100_01:#d9d9d9; 
--red_300:#d8727d; 
--green_500:#3da466; 
--teal_200:#73c2b4; 
--green_400:#44c577; 
--gray_900_0c:#1018280c; 
--white_A700_14:#ffffff14; 
--white_A700_ab:#fdfdfdab; 
--blue_gray_800:#464d50; 
--blue_gray_700:#475466; 
--green_400_01:#44c677; 
--orange_A100:#fdd26e; 
--red_300_02:#cd7849; 
--blue_gray_100:#cfd4dc; 
--white_A700_a2:#fdfdfda2; 
--white_A700_0a:#ffffff0a; 
--gray_900:#1f2129; 
--red_300_01:#cd7848; 
--gray_100:#f2f3f6; 
--green_500_01:#3fa268; 
--white_A700_21:#ffffff21; 
--gray_900_7f:#21282c7f; 
--gray_100_01:#f2f2f2; 
--white_A700_05:#ffffff05; 
--white_A700:#fdfdfd; 
}